.container{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 375px;
    height: 300px;
   border-radius: 10px;
}

input{
    border: none;
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 5px;
    height: 30px;

}

button{
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
    height: 45px;
}
.box1{
    display: flex;
    justify-content:space-between;
}

a{
    text-decoration: none;
    color: dodgerblue;
}
body{
   margin: 0;
   display: flex;
   justify-content: center;
   margin-top: 200px;
   background-color:#e7e7e7;

}